.topnav{
  background-color:gray;
  color:black;
  height: 150px;
}
.container {
    padding: 2px 90px;
}
.img{
  float: left;
}
body{
  background-color: silver;
}
.container{
  border-style: solid;
    border-color: black;
padding: 25px;
box-sizing: border-box;
background-color: lightblue;
}
h1{
  text-align: center;
}
