
h4{
  color:black;
  text-align:center;
  font-size: 40px;
  font-style: italic;
  font-weight: bolder;
  font-family;serif;
  text-shadow: 2px 2px
}
img {
    border-radius: 30%;
    image-orientation: center;
    align: center;

}
body{
  background-color: maroon;
  background-image: radial-gradient();
}
.container{
  background-color: red;
}
.topnav a{
  background-color: maroon;
  font-size: 20px;

}
